<div class="form-box">
  <div id="<%= dom_id workout_log %>">
    <p>
      <strong>Name:</strong>
      <%= workout_log.name %>
    </p>

    <p>
      <strong>Day:</strong>
      <%= workout_log.day %>
    </p>

    <p>
      <strong>Minutes:</strong>
      <%= workout_log.minutes %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= workout_log.description %>
    </p>

  </div>
</div>