<br>
<% if signed_in? %>
   Signed in as: <%= current_user.email %>
    <%= button_to 'Sign Out', sign_out_path, method: :delete %>
    <% else %>
    <button><%= link_to 'Sign In', sign_in_path %></button>
    <% end %>
    <br>
    <br>
    <p>To get to your account, click on the button above.</p>

   <div id="flash">
     <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
   </div>

